#waterPane, #posturePane, #sightPane, #dash, #reminder {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 4);
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

#waterPane:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,255,0.3), 10, 0, 0, 4);
}
#posturePane:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,255,0,0.3), 10, 0, 0, 4);
}
#sightPane:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.3), 10, 0, 0, 4);
}
#dash:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,255,255,0.3), 10, 0, 0, 4);
}
#reminder:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,0,0.3), 10, 0, 0, 4);
}

.chart, .chart-plot-background {
    -fx-background-color: transparent;
    -fx-padding: 20;
}

#confirm, .toggle-button {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 30;
    -fx-padding: 8 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-color: #cccccc;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-text-fill: #444;
}
#confirm: hover {
    -fx-background-color: #4fc3f7;
    -fx-text-fill: white;
    -fx-border-color: #4fc3f7;
}
.toggle-button:selected {
    -fx-background-color: #4fc3f7;
    -fx-text-fill: white;
    -fx-border-color: #4fc3f7;
}